html,
body {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#head {
    height: 50px;
    width: 100%;
}

#edit {
    width: 100%;
    position: relative;
    top: 60px;
}

#edit-left {
    float: left;
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    overflow: scroll;
}

#edit-right {
    margin-left: 75%;
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
}

#edit-left-center {
    width: 800px;
    height: 80%;
    margin-top: 80px;
}

#form-head {
    width: 100%;
    height: 70px;
}

#head-bottom li {
    float: left;
    width: 100px;
    margin-right: 10px;
}

input {
    width: 80%;
    margin: 10px auto;
    height: 20px;
}

textarea {
    height: 50px;
    width: 80%;
}

#edit-right-head {
    width: 400px;
    height: 20px;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}

#edit-right-head li {
    float: left;
    width: 33%;
    border-right: 1px solid #666869;
}

#edit-right-head a {
    display: block;
    text-decoration: none;
}

#edit-right-choose {
    width: 400px;
    padding: 0px 10px;
    margin: 0;
}

.choose {
    display: block;
    text-decoration: none;
    float: left;
    width: 180px;
    height: 30px;
    margin: 0px 0px 5px 5px;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.choose span {
    height: auto;
    width: auto;
    vertical-align: middle;
}

#edit-right-submit {
    width: 400px;
    height: 100px;
    position: absolute;
    top: 200px;
}

.submit {
    display: block;
    text-decoration: none;
    height: 40px;
    width: 100px;
    margin-top: 30px;
    line-height: 40px;
    font-size: 24px;
}