body {
    color: black;
}

#head {
    background-color: white;
    font-size: 20px;
}

#head-bottom {
    font-size: 17px;
}

#edit-left {
    background-color: #E3E0D7;
}

#edit-right {
    background-color: #E0DDD4;
}

#edit-left-center {
    background-color: white;
}

#form-head {
    background-color: #6A6A6A;
}

#edit-right-head a {
    background-color: white;
    color: black;
}

.choose {
    background-color: white;
    border: 1px solid #C7CCCC;
    color: black;
}

#edit-right-submit {
    background-color: white;
    border: 1px solid #C7CCCC;
}

.submit {
    background-color: white;
    color: black;
}