body {
    background-color: #F5F7FA;
}

.center {
    background-color: white;
    font: 20px Arial, Helvetica, sans-serif;
    color: #666869;
}

.center-button {
    text-decoration: none;
    background-color: #009AFF;
    font-size: 15px;
    color: white;
}

.center-bottom {
    color: #6385FF;
}

.center-bottom a {
    text-decoration: none;
    color: #009AFF;
}

.center-bottom a:link {
    color: #009AFF;
}

.center-bottom a:hover {
    color: #6385FF;
}